/*  START sidebar area  */
.tc_cabinet_sidebar_before,
.tc_cabinet_sidebar_after {
    display: inline-block;
    margin: 3px 12px;
    width: calc(100% - 24px);
}
/*  END sidebar area  */

#rcl-office {
    background-color: rgba(236, 240, 241, 0.8);
    box-shadow: none;
    padding: 5px;
}
.tcl_top_content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    display: inline-block;
    line-height: normal;
    margin: 5px;
    position: relative;
    width: calc(100% - 10px);
}
.tcl_title {
    display: inline-block;
    line-height: 1;
}
.tcl_name {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0 0;
}
.visitor-guest .tcl_name { /* fix для гостя */
    margin: 8px;
}
.tcl_name_left {
    display: flex;
    position: relative;
}

/* START AMENU */
.tc_author_menu {
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #ddd;
    cursor: pointer;
    margin: 0 4px;
    max-height: 31px;
    padding: 3px;
}
.tc_author_menu:hover {
    border: 1px solid #bbb;
    color: #999;
}
.tc_dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 30px;
    transform: translateY(30px);
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    z-index: 101;
}
.tc_author_menu:hover .tc_dropdown {
    opacity: 1;
    transform: none;
    visibility: visible;
}
.tc_dropdown .tc_line {
    border-left: 2px solid #fff;
}
.tc_dropdown .tc_line:hover {
    background-color: #e5e5e5;
    border-left: 2px solid #ccc;
}
.tc_dropdown .tc_line > a {
    align-items: center;
    color: #000;
    display: flex;
    padding: 10px 10px 10px 3px;
    position: relative;
    width: 100%;
}
.tc_dropdown .tc_line > a:hover {
    text-decoration: none;
}
.tc_dropdown .fa {
    font-size: 18px;
    width: 28px;
}
.tc_dropdown span {
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 0 5px;
    vertical-align: middle;
}
.tc_ava_upload input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
/* END AMENU */

.tcl_name .tc_author_name {
    align-items: center;
    color: #000;
    display: flex;
    flex-shrink: 0;
}
.rcl-action {
    align-items: center;
    color: #aaa;
    display: flex;
    margin: 0 0 0 8px;
}
.rcl-action .user-status {
    font-size: 12px;
    font-weight: normal;
    min-width: 35px;
}
.tc_usr_info {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 0 5px;
}
.tc_usr_info:hover {
    color: #000;
}

/* START кнопки действий */
.tcl_bttn_actions {
    display: flex;
    flex-wrap: wrap;
}
.actions-block-rcl {
    border-right: 1px solid #ddd;
}
.actions-block-rcl:last-child {
    border: none;
}
.actions-block-rcl:hover {
    background-color: #e5e5e5;
}
#tc_actions .recall-button {
    background-color: transparent;
    color: #000;
    display: inline-block;
    padding: 8px;
}
#tc_actions .fa {
    display: none;
}
#tc_actions span {
    margin: 0;
}
/* END кнопки действий */
.tcl_top_footer {
    float: right;
}
#avatar-upload-progress span {
    margin-top: -24px;
}

/* START кнопки counters */
.tc_bttn_counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.tc_bttn_counters > span {
    border-right: 1px solid #ddd;
    display: flex;
    padding: 0 6px;
}
.tc_bttn_counters > span:last-child {
    border: none;
}
#tc_counters a.recall-button {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    padding: 3px 5px;
}
#tc_counters a.recall-button:hover,
#tc_counters a.recall-button.active {
    background-color: #e5e5e5;
    border-bottom: 2px solid #ccc;
}
#tc_counters .fa {
    display: none;
}
#tc_counters a > span {
    color: #999;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}
#tc_counters a:hover span,
#tc_counters a.active span {
    color: #000;
}
#tc_counters a > span span {
    align-self: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
/* END кнопки counters */


/* START кнопки основного меню */
#tc_main_menu #lk-menu {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 3px 8px 3px 5px;
}
.vertical-menu #tc_main_menu #lk-menu {
    max-width: 140px;
}
.horizontal-menu #tc_main_menu #lk-menu {
    align-items: center;
    display: flex;
    margin: 2px 5px 7px;
}
.horizontal-menu #tc_main_menu .rcl-tab-button {
    border-right: 1px solid #ccc;
}
.horizontal-menu #tc_main_menu .rcl-tab-button:last-child {
    border-right: none;
}
#tc_main_menu a.recall-button {
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    color: #000;
    display: flex;
    margin: 0;
    padding: 10px 6px;
}
.horizontal-menu #tc_main_menu a.recall-button {
    padding: 10px 10px 8px 8px;
}
#tc_main_menu a.recall-button:hover,
#tc_main_menu a.recall-button.active {
    background-color: #e5e5e5;
    border-bottom: 2px solid #ccc;
}
#tc_main_menu a .fa {
    font-size: 16px;
    min-width: 20px;
}
#tc_main_menu a span {
    font-size: 13px;
}
/* END кнопки основного меню */

/* START стили кнопок для скрипта */
@keyframes tc_color {
    50% {
        color: #000;
        background-color: rgb(238, 232, 170);
    }
}
.tc_bmenu {
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: tc_color;
    border: 1px solid #ddd;
    color: #ddd;
    cursor: pointer;
    line-height: 23px;
    margin: 0 3px;
    padding: 1px 4px;
}
.tc_bmenu:hover {
    border: 1px solid #aaa;
    color: #000;
}
.tc_bmenu .fa {
	font-size: 23px;
}
#control_ext_menu {
    background-color: #fff;
    border-left: 6px solid #ccc;
	display: none;
    left: -100%;
    position: absolute;
    transition: left 0.25s ease-in-out 0s;
    width: 200px;
    z-index: 1000;
}
#control_ext_menu.bounce {
    display: block;
}
#control_ext_menu a {
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    color: #000;
    display: flex;
    padding: 10px 6px;
    white-space: normal;
}
#control_ext_menu a:hover,
#control_ext_menu a.active {
    background-color: #e5e5e5;
    border-bottom: 2px solid #ccc;
}
#control_ext_menu .fa {
    font-size: 16px;
    min-width: 20px;
}
#control_ext_menu span {
    font-size: 14px;
}
/* END стили кнопок для скрипта */

#lk-content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 3px 5px;
}
#lk-content a.recall-button {   /* кнопки контента (дочерние вкладки) */
    background-color: transparent;
    border-bottom: 2px solid transparent;
    border-right: 1px solid #ccc;
    color: #000;
}
#lk-content a.recall-button:hover,
#lk-content a.recall-button.active,
#lk-content a.recall-button.filter-active {
    background-color: #e5e5e5;
    border-bottom: 2px solid #ccc;
}


@media screen and (max-width:640px){
    .tcl_top_content {
        display: flex;
        flex-direction: column;
    }
    .tcl_top_footer {
        order: 1;
    }
}
@media screen and (max-width:480px){
    .tcl_top_footer {
        display: flex;
        justify-content: center;
    }
    .tc_bttn_counters,
    .tcl_bttn_actions {
        justify-content: center;
    }
}
