/*

DEFAULT                 |   HOVER & ACTIVE
                        |
color:  #353535         |   color:  #353535
background: transparent |   background: transparent
border: 1px transparent |   border-color: primary

*/

.tcl_shev {
    color: rgb(var(--rclRgbDark)) !important;
}
.recall-button,
.rcl-bttn {
    background: transparent !important;
    border: 2px solid transparent  !important;
    color: rgb(var(--rclRgbDark)) !important;
}
.tcl_shev:focus,
.tcl_shev:hover,
.type-current .rcl-bttn,
.rcl-bttn:hover,
.recall-button:hover,
.recall-button[class*="active"], /* e.g. filter-active*/
.rcl-bttn[class*="rcl-bttn__disabled"] { 
    background: none;
    border-color: rgba(var(--rclRgb),.6) !important;
    box-shadow: none !important;
    opacity: 1;
    text-decoration: none !important;
}
#cpsubmit,
#delete_acc,
.chat-submit,
.important-shift,
#rcl-publish-post {
    background: var(--rclHex) !important;
    color: #fff !important;
}